In [1]:
#logic with python function

In [2]:
3%2

1

In [3]:
20%21

20

In [4]:
4%2

0

In [5]:
4%2==0

True

In [6]:
5%2==0

False

In [12]:
def even_check(num):
    return num%2==0
even_check(5)

False

In [28]:
def check_even(num_list):
    for number in num_list:
        if number%2==0:
            return True
    else:
        pass
    return False
check_even([1,2,4])

True

In [31]:
def check_even_list(num_list):
    even_numbers = []#placeholder
    for number in num_list:
        if number%2==0:
            even_numbers.append(number)
        else:
            pass 
        return even_numbers
    check_even_list([1,4,5,6,9,7,12,13,14])

In [32]:
#function and tuple unpacking in python

In [36]:
stock_prices=[('APPLE',100),('GOOGLE',400),('MICROSOFT',800)]
for item in stock_prices:
    print(item)

('APPLE', 100)
('GOOGLE', 400)
('MICROSOFT', 800)

In [37]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

110.0
440.0
880.0

In [46]:
work_hours=[('Abby',400),('Sammy',800),('Andy',1200)]
def employee_check(work_hours):
    current_max=0
    employee_of_month=''
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_month=employee
        else:
            pass
        return(employee_of_month,current_max)
    employee_check(work_hours)

In [47]:
result = employee_check(work_hours)

In [48]:
result

('Abby', 400)

In [49]:
#TLO 3 wise practice

In [50]:
#1. concatenate the two string and find the lingth of the concatenate string
# Defining strings
var1 = "python"
var2 = "programming"
 
# + Operator is used to combine strings
var3 = var1 + var2
print(var3)

pythonprogramming

In [52]:
var3

'pythonprogramming'

In [54]:
len(var3)

17

In [56]:
#2.use a dictionary to store the following key value pairs:{"A":1,"B":2,"c":3}
my_dict={"A":1,"B":2,"c":3}
value=my_dict.get("B")
print("value associated with key'B':",value)

value associated with key'B': 2

In [60]:
#3.creat a tuple with the following elements:1,4,9,16,25.find the length of the tuple
my_tuple=(1,4,9,16,25)
length=len(my_tuple)
print ("length of the tuple:",length)

length of the tuple: 5

In [62]:
#4.creat a set with the some elements and find the length of the set
my_set={1,2,3,4}
length=len(my_set)
print("length of the set:",length)

length of the set: 4

In [64]:
#5.find the maximum and minimun values in a list
my_list=[4,6,2,9,1,3]
max_value=max(my_list)
min_value=min(my_list)
print("maximum value:",max_value)
print("minimum value:",min_value)

maximum value: 9
minimum value: 1

In [66]:
#6. merge two dictionaries
dict1={"A":1,"B":2,"C":3}
dict2={"D":4,"E":5,"F":6}
merged_dict={**dict1,**dict2}
print("merged dictionary:",merged_dict)

merged dictionary: {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6}

In [67]:
#7.Remove duplicates from a list and creat a new set
my_list=[1,2,3,4,5,2,3,4]
unique_set=set(my_list)
print("set without duplicates:",unique_set)

set without duplicates: {1, 2, 3, 4, 5}

In [68]:
#TLO 2 wise practice