In [1]:
#TLO4

In [7]:
with open("myfile.txt","r") as file:
    content = file.read()
print(content)

hellow! this is the firsts line
this is the second line
this is the third line

In [8]:
#2
with open("myfile.txt", "r") as file:
    first_line = file.readline()
print(first_line)

hellow! this is the firsts line

In [13]:
#3
with open("empty.txt", "w") as file:
    file.write("This is an empty file.")

In [16]:
#4
with open("append_myfile.txt", "a") as file:
    file.write("\nAppended line.")

In [18]:
file.write()

TypeError: TextIOWrapper.write() takes exactly one argument (0 given)

In [1]:
#5.
with open("myfile.txt", "r") as file:
    content = file.read()
    print(len(content))

80

In [3]:
#6.
with open("myfile.txt", "r") as file:
    content = file.read()
    words = content.split()
    print(len(words))

16

In [5]:
#7.
num = 14
result = 10<= num <= 20 and num % 2 == 0
print(result)

True

In [6]:
#8.
text = "banana"

result = 5 <= len(text) <= 10 and 'a' in text
print(result)

True

In [8]:
#9.
temperature = 20
humidity = 40
result = 15 <= temperature <= 25 or humidity < 30
print(result)

True

In [9]:
#10.
x = 5
y = 7
z = 10
result = x != y and z > x and z> y

In [10]:
result

True

In [11]:
#11.
a=3
b = 3
c = 6
d = 7
result = a == b or c == d
print(result)

True

In [12]:
#12.
num1 = 9
num2 = 8
result = num1 % 2 != 0 and num2 % 2 == 0

print(result)

True

In [13]:
#13.
age = 15
grade = 8
result = 13 <= age <= 19 or 7 <= grade <= 12
print(result)

True

In [14]:
#TLO5

In [23]:
#1.Basic if statement with input
temperature = int(input("Enter the temperature:"))
if temperature> 30:
    print("It's hot outside!")

Enter the temperature:35
It's hot outside!

In [28]:
#2: if-else statement with input
temperature = int(input("Enter the temperature:"))
if temperature> 30:
    print("It's hot outside!")
else:
    print("It's not hot outside!")

Enter the temperature:20
It's not hot outside!

In [3]:
#3.animal = input("Enter an animal type:")


animal = input("Enter an animal type: ")

if animal == "Dog":
    print("Woof!")
elif animal == "Cat":
    print("Meow!")
elif animal == "Bird":
    print("Chirp!")
else:
    print("I don't know this animal.")

Enter an animal type: Dog
Woof!

In [4]:
#4.for loop
num_elements = int(input("Enter the number of elements in the list: "))
elements = []
for i in range(num_elements):
    element = int(input(f"Enter element {i + 1}: "))
    elements.append(element)
for num in elements:
    print(num)

Enter the number of elements in the list: 4
Enter element 1: 6
Enter element 2: 3
Enter element 3: 2
Enter element 4: 3
6
3
2
3

In [5]:
#5.

input_string = input("Enter a string: ")
for char in input_string:
    print(char)

Enter a string: pramil
p
r
a
m
i
l

In [ ]:
#6.
num_pairs = int(input("Enter the number of pairs: "))
pairs = []
for i in range(num_pairs):
    first = int(input(f"Enter the first element of pair {i + 1}: "))
    second = int(input(f"Enter the second element of pair {i + 1}: "))
    pairs.append((first, second))
for a, b in pairs:
    print(f"First element: {a}, Second element: {b}")

Enter the number of pairs: 45
Enter the first element of pair 1: 3
Enter the second element of pair 1: 4
Enter the first element of pair 2: 5
Enter the second element of pair 2: 76
Enter the first element of pair 3: 3
Enter the second element of pair 3: 5
Enter the first element of pair 4: 4
Enter the second element of pair 4: 5

In [1]:
#7
num_entries = int(input("Enter the number of entries in the dictionary: "))
input_dict = {}
for i in range(num_entries):
    key = input(f"Enter the key for entry {i + 1}: ")
    value = input(f"Enter the value for entry {i + 1}: ")
    input_dict[key] = value
for key, value in input_dict.items():
    print(f"Key: {key}, Value: {value}")

Enter the number of entries in the dictionary: 2
Enter the key for entry 1: k
Enter the value for entry 1: 31
Enter the key for entry 2: k
Enter the value for entry 2: 12
Key: k, Value: 12

In [2]:
#8.
num_entries = int(input("Enter the number of entries in the dictionary: "))
input_dict = {}
for i in range(num_entries):
    key = input(f"Enter the key for entry {i + 1}: ")
    value = input(f"Enter the value for entry {i + 1}: ")
    input_dict[key] = value

for key, value in input_dict.items():
    print(f"Key: {key}, Value: {value}")

Enter the number of entries in the dictionary: 3
Enter the key for entry 1: k
Enter the value for entry 1: 3
Enter the key for entry 2: k
Enter the value for entry 2: 3
Enter the key for entry 3: k
Enter the value for entry 3: 4
Key: k, Value: 4

In [3]:
#9.
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
for i in range(len(nested_list)):
    for j in range(len(nested_list[i])):
        print(nested_list[i][j], end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [4]:
#while loop
counter = 3
number = 1
while counter < 10:
    if number % 2 == 0:
        print(number)
        counter += 1
    number += 1

2
4
6
8
10
12
14

In [5]:
#11.
a, b = 0, 1
counter = 0

while counter < 10:
    print(a)
    a, b = b, a + b
    counter +=1

0
1
1
2
3
5
8
13
21
34

In [6]:
#12.
n =5
factorial =1
i = 1
while i <= n:
    factorial *= i
    i += 1
print(f"The factorial of {n} is {factorial}.")

The factorial of 5 is 120.

In [7]:
#13
#pass
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    if fruit == 'banana':
        pass
    print(fruit)

apple
banana
cherry

In [8]:
#14
#continue
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    if fruit == 'banana':
        continue
    print(fruit)

apple
cherry

In [9]:
#15
#Break
fruits = ['apple', 'banana', 'cherry']
for fruit in fruits:
    if fruit == 'banana':
        break
    print(fruit)

apple

In [10]:
# useful operator in python


numbers = list(range(5, 51, 5))
print(numbers)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [11]:
#17
numbers = [1, 2, 3, 4, 5]
for index, number in enumerate(numbers):
    print(f"Index {index}, squared value: {number ** 2}")

Index 0, squared value: 1
Index 1, squared value: 4
Index 2, squared value: 9
Index 3, squared value: 16
Index 4, squared value: 25

In [12]:
#18
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
for num1, num2 in zip(list1, list2):
    print(f"Sum of {num1} and {num2}: {num1 + num2}")

Sum of 1 and 6: 7
Sum of 2 and 7: 9
Sum of 3 and 8: 11
Sum of 4 and 9: 13
Sum of 5 and 10: 15

In [14]:
#19
numbers = [1, 3, 5, 7, 9]
given_number = 4
if given_number in numbers:
    print(f"{given_number} is in the list")
else:
    print(f"{given_number} is not in the list")

4 is not in the list

In [15]:
#20
from random import shuffle, randint
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
shuffle(numbers)
print("Shuffled list:", numbers)
random_number = randint(1, 100)
print("Random integer between 1 and 100:", random_number)

Shuffled list: [2, 6, 4, 8, 10, 7, 5, 9, 1, 3]
Random integer between 1 and 100: 89

In [16]:
#21
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Your name is {name} and your age is {age}.")

Enter your name: pramil
Enter your age: 19
Your name is pramil and your age is 19.

In [19]:
#21
input_string = "Pramil"
output_list = [char for char in input_string]
print(output_list)

['P', 'r', 'a', 'm', 'i', 'l']

In [20]:
#22
squares = [num**2 for num in range(1, 101)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [21]:
#23
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [num for num in input_list if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [23]:
#24
celsius = [0, 10, 20, 30, 50, 34.5]
fahrenheit = [(9/5 * temp + 32) for temp in celsius]
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [25]:
#25
list1 = [2, 4, 6]
list2 = [1, 10, 100]
product_list = [x * y for x in list1 for y in list2]
print(product_list)

[2, 20, 200, 4, 40, 400, 6, 60, 600]