In [23]:
a=10
b=20.5
c='20'
print(a+b)
print(a*b)
print(a/b)

30.5
205.0
0.4878048780487805

In [4]:
#2 "programming is fun" extract the word"is" using slicing.

In [19]:
s='Programming is fun'

In [20]:
s[12:14]

'is'

In [13]:
#3.calculate the area of a rectangle with length l and width w using the multiplication operators.

In [27]:
length= float(input('enter the length'))
width= float(input('enter the width'))
area=length*width
print('the area of a rectangle is, area')

enter the length12
enter the width12
the area of a rectangle is, area

In [ ]:
# 4.calculate two number x and y, calculate the sum.

In [18]:
x=20
y=50
print(x+y)

70

In [ ]:
#5. determine the remainder of the division of two numbers a and b using the module operator.

In [31]:
x= float(input('enter the first number'))
y= float(input('enter the second number'))
rem=(x%y)
print('the remainder is', rem)

enter the first number32
enter the second number7
the remainder is 4.0

In [24]:
#6. take two numbers as input from the users and perform addition, substraction, multiplecation, and division operands.

In [25]:
a=50
b=40
print(a+b)
print(a-b)
print(a*b)
print(a%b)

90
10
2000
10

In [32]:
s='python'

In [34]:
'c'+'python'

'cpython'

In [40]:
s1="hellow"
s2="iam a"
s3="python programmer"
"hellow"+" i am a"+"python programmer"

'hellow i am apython programmer'

In [41]:
x='the quick brown fox'

In [42]:
x.upper()

'THE QUICK BROWN FOX'

In [53]:
name="john"
age="25"
print(f' my name is {name} and age is { age} years old')

 my name is john and age is 25 years old

In [50]:
s= "i love python programming"

In [52]:
s[14:]

'programming'

In [54]:
pi='3.1415926535' 
print(f{3.1415926535:4d}")

ValueError: Unknown format code 'd' for object of type 'float'